################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeekHunterASPTests/bin/Debug
/GeekHunterASPTests/obj/Debug
/GeekHunterASP/bin
/GeekHunterASP/obj
